@font-face {
    font-family: 'Cairo Bold';
    src: url('../../public/Fonts/Cairo/static/Cairo-Bold.ttf');
}

@font-face {
    font-family: 'Cairo regular';
    src: url('../../public/Fonts/Cairo/static/Cairo-Regular.ttf');
}

#AdminPage {
    height: 100vh;
    background: #00C0FA;
}

#DeletingAlert {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 30%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgb(155, 155, 155);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Cairo Bold';
    z-index: 100;
}

#DeletingAlert > div:first-child {
    position: absolute;
    top: 15px;
    right: 20px;
}

#DeletingAlert > div:first-child svg {
    cursor: pointer;
}

#DeletingAlert > div:first-child svg:hover {
    opacity: .6;
}

#DeletingAlert p {
    margin-bottom: 20px;
}

.disabelePage {
    pointer-events: none;
    opacity: .8;
}

/* ....................... Admin page header start ....................... */

#AdminPageHeader {
    height: 10%;
    padding: 0 35px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 35%);
    background-color: white;
}

#AdminPageHeader > div {
    width: 11%;
}

#AdminPageHeader > div:first-of-type {
    height: 95%;
}

#AdminPageHeader > div:first-of-type img{
    width: 100%;
    height: 100%;
}

#AdminPageHeader > div:last-of-type {
    position: relative;
    padding: 6px 20px;
    cursor: pointer;
    background-color: #459fff;
    color: white;
    border-radius: 7px;
}

#AdminPageHeader > div:last-of-type > div:first-of-type {
    font-size: 1rem;
    font-family: 'Cairo regular';
    direction: ltr !important;
}

#AdminPageHeader > div:last-of-type > div:last-of-type {
    position: absolute;
    bottom: -165%;
    width: 155%;
    height: 150%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: #459fff;
}

#AdminPageHeader > div:last-of-type > div:last-of-type a {
    width: 100%;
    padding: 5px 0;
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

.HideLogoutBtn {
    display: none !important;
}

/* ....................... Admin page header end ....................... */


/* ....................... Admin page section start ....................... */

#AdminPageSection {
    height: 89%;
}

#AdminPageSection > div:first-of-type form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

#AdminPageSection > div:first-of-type form > * {
    margin: 0 20px;
}

#AdminPageSection > div:first-of-type form > input {
    width: 40%;
    padding: 5px 7px;
    font-family: 'Cairo regular';
    border: none;
    border-bottom: 3px solid white;
    background-color: transparent;
    color: rgb(86, 86, 86);
    font-size: 1rem;
    font-weight: 600;
}

#AdminPageSection > div:first-of-type form > input::placeholder {
    color: rgba(86, 86, 86, 0.683);
}

#AdminPageSection > div:first-of-type form > select {
    padding: 5px 7px;
    font-family: 'Cairo regular';
    border: none;
    border-bottom: 3px solid white;
    background-color: transparent;
    color: rgb(86, 86, 86);
    font-size: .87rem;
    font-weight: 600;
    cursor: pointer;
}

#RegisterRequestsContent {
    height: 81%;
    overflow: scroll;
    padding: 25px 10px 7px 10px;
}

#RegisterRequestsContent table {
    min-width: 100%;
    border-collapse: collapse;
    text-align: center;
    color: #6868ff;
    background: white;
}

#RegisterRequestsContent table, #RegisterRequestsContent table tr, #RegisterRequestsContent table, th,
#RegisterRequestsContent table td {
    border: 2px solid #6868ffba;
    text-wrap: nowrap;
}

#RegisterRequestsContent table, th {
    font-family: 'Cairo Bold';
}

#RegisterRequestsContent table td {
    font-family: 'Cairo regular';
    cursor: pointer;
}

.SelectRow {
    background-color: rgb(201, 201, 201);
}

#RegisterRequestsContent table, th,
#RegisterRequestsContent table td {
    padding: 5px;
}

#RegisterRequestsFooter {
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#RegisterRequestsFooter button, #DeletingAlert button {
    margin: 0 15px;
    padding: 5px 20px;
    font-size: .8rem;
    border: none;
    font-family: 'Cairo bold';
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.RemoveBtn {
    background-color: rgba(253, 78, 78, 0.895);
}

.RemoveBtn:hover {
    background-color: rgb(253, 78, 78);
}

.SaveBtn {
    background-color: rgba(68, 239, 68, 0.863);
}

.SaveBtn:hover {
    background-color: rgb(68, 239, 68);
}

.notdata {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-family: 'Cairo Bold';
}
/* ....................... Admin page section end ....................... */